.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  justify-items: center;
  margin-top: 2rem;
  
  
}
.dispo{
  display: flex;
  justify-content: space-around;
}